.container {
    width: 100%;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
}

.item {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    cursor: pointer;
}

.arrow {
    margin: auto 5px auto 0;
    width: 12px;
    height: 12px;
    background-image: "";
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-90deg);
    visibility: hidden;
    z-index: 1;
}

.item.expandable .arrow {
    visibility: visible;
}

.item.expanded .arrow {
    transform: rotate(0deg);
}

.icon {
	margin: auto 5px auto 0;
	width: 16px;
    height: 16px;
    flex-shrink: 0;
	background-image: "";
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.label {
    margin: auto 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}

.children {
    width: 100%;
    flex-direction: column;
    display: none;
}

.children.expanded {
    display: flex;
}

.selection {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 0;
}

.item:hover .selection {
    background-color: rgb(224, 224, 224);
}

.item.selected .selection {
    background-color: rgb(219, 238, 255);
}