.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.add {
    margin: 0 auto 0 10px;
    height: 100%;
    display: flex;
    position: relative;
}

.alarm {
    margin: 0 20px 0 auto;
    height: 100%;
    display: flex;
    position: relative;
}